body {
    margin: 0;
    padding: 0;
    background: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.el-main{
    padding: 0;
}

.main-container > .el-container {
    min-height: 100vh;
}

.el-col--15 {
    width: 20%;
}

.el-col--25 {
    width: 40%;
}

.el-col--35 {
    width: 60%;
}

.el-col--45 {
    width: 80%;
}

.page {
    font: $font-family-roboto-regular-serif;
    
    .page-header {
        padding: 10px 20px;
        background: $white;
        display: flex;
        align-items: flex-end;
        
        .nav-back {
            margin: 0 10px 3px 0;
            svg {
                fill: $sky-blue;
            }
        }
        
        .heading-wrapper {
            flex: 1;
        
            .breadcrumbs { 
                font: $font-family-roboto-regular-serif;
                span {
                    color: $grey-sh2;
                }
            }

            .heading {
                padding-top: 5px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: no-wrap;
                align-items: center;
                h1 {
                    flex-grow: 1;
                    margin: 0;
                    padding: 0;
                }
                .buttons {
                    > * + * {
                        margin-left: 15px;
                    }
                }
                .close-page {
                    cursor: pointer;
                }
            }
        }
    }

    .form-content{
        width: 30%;
        min-width: 500px;
    }

    section {
        padding: 20px;
        background: $white;
        
        &.grey {
            background: $light-grey;
        }
        
        &.grey-cap {
            background-image: linear-gradient(to bottom, $light-grey 0, $light-grey 75px, $white 75px);
        }
        
        &.darkgrey-cap {
            background-image: linear-gradient(to bottom, $grey-sh7 0, $grey-sh7 67px, $white 67px);
        }
        
        &.grey-cap-220 {
            background-image: linear-gradient(to bottom, $light-grey 0, $light-grey 220px, $white 220px);
        }
        
        &.grey-cap-schedule {
            background-image: linear-gradient(to bottom, $light-grey 0, $light-grey 145px, $white 145px);
        }
        
        &.filter {
            padding-bottom: 0;
        }

        &.split-left {
            border-left: 1px solid $light-grey;
        }

        @for $i from 0 through 50 {
            &.grey-cap-#{$i * 10} {
                background-image: linear-gradient(to bottom, $light-grey 0, $light-grey 10px * $i, $white 10px * $i);
            }
        }
    }
    
    form.search-filter {
        max-width: 1100px;
    }
}

.page, .el-dialog {
    .flex-content {
        display: flex;
        flex-direction: column;
        
        .page-header {
            flex: none;
        }
        
        .content-wrapper {
            flex: 1 1 0;
            min-height: 0;
            display: flex;
            flex-direction: column;
            
            > *:not(.shrinkable) {
                flex: none;
            }
            
            > *.shrinkable {
                flex: 1 1 0;
                max-height: 100%;
                min-height: 0;
                box-sizing: border-box;
            }
        }
    }
}

.page .flex-content {
    height: 100vh;
}

.el-dialog .flex-content {
    height: 70vh;
}

.el-dialog .el-tabs .flex-content {
    height: 60vh;
}

.userbar {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 20px;
    color: $grey-sh2;
    span {
        font-weight: 600;
    }
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: $side-menu-width;
    right: 0;
    transition: left .4s;
    
    &.buttons {
        padding: 10px 20px;
        height: 55px;
        box-sizing: border-box;
        background: $beige;
        transition: bottom .4s;
        &.hidden {
            bottom: -80px;
        }
    }
}

.collapsed-aside + main {
    .sticky-footer {
        left: $side-menu-collapsed-width;
    }
}

.space-normal{
    white-space: normal;
}

.paragraph {
    h3, h4 {
        margin-top: 0;
        font-size: 14px;
        font-weight: 400;
        color: $black;
    }
    
    & + .paragraph {
        margin-top: 20px;
    }
}

@for $i from 0 through 10 {
    .w-#{$i * 100} {
        width: 100px * $i;
    }

    .miw-#{$i * 10} {
        min-width: 10px * $i;
    }

    .maw-#{$i * 10} {
        max-width: 10px * $i;
    }
}

.sticky-footer-container {
    position: relative;
    .track {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
        left: -1px;
    }
}

.filter-inline {
    .search-filter {
        display: flex;

        .filter-body {
            flex-grow: 2;
        }
    }
}

.underline {
    text-decoration: underline;
}

.request-log pre {
    overflow: auto;
    border: 1px solid $grey-sh2;
}