.appointment-pdf-wrap {
    width: 1130px;
    .appointment-pdf-row {
        display: flex;
        flex-direction: row;
        .appointment-pdf-column-two {
            width: 50%;
        }
        .appointment-pdf-column-right {
            padding-left: 100px;
        }
        .appointment-pdf-column-flex {
            display: flex;
            flex-direction: row;
        }
        .appointment-pdf-autograph {
            height: 50px;
            width: 60%;
            border-bottom: 1px solid #000;
        }
    }
    .appointment-pdf-row-end {
        justify-content: flex-end;
    }
    .title-bold {
        font-size: 24px;
        font-weight: bold;
        color: #000;
    }
    .text-primal {
        font-size: 14px;
        color: #000;
    }
    .appointment-pdf-border {
        border-bottom: 3px solid #000;
    }
}
