.context-menu {
    margin: -10px -12px;
    
    a {
        display: block;
        padding: 8px 10px;
        
        &:hover {
            background: $beige;
        }
    }
    
    .el-button--text {
        padding: 8px 10px;
        display: block;
        min-width: 100%;
        text-align: left;
        margin-left: 0;
        
        &:hover {
            background: $beige;
        }
    }
}