.el-picker-panel__body {
    .el-picker-panel__icon-btn {
        height: 30px;
        width: 25px;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .el-date-picker__next-btn.el-icon-arrow-right {
        &:before {
            border: 5px solid transparent;
            border-left: 8px solid $blue;
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
        }

    }
    .el-date-picker__prev-btn.el-icon-arrow-left {
        &:before {
            border: 5px solid transparent;
            border-right: 8px solid $blue;
            content: '';
            position: absolute;
            top: 10px;
            left: 2px;
        }

    }
    .el-date-picker__next-btn.el-icon-d-arrow-right {
        &:before {
            border: 5px solid transparent;
            border-left: 8px solid $blue;
            content: '';
            position: absolute;
            top: 10px;
            left: 5px;
        }
        &:after {
            border: 5px solid transparent;
            border-left: 8px solid $blue;
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
        }
    }
    .el-date-picker__prev-btn.el-icon-d-arrow-left {
        &:before {
            border: 5px solid transparent;
            border-right: 8px solid $blue;
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
        }
        &:after {
            border: 5px solid transparent;
            border-right: 8px solid $blue;
            content: '';
            position: absolute;
            top: 10px;
            right: 5px;
        }
    }
}

.el-picker-panel__content {
    border-top: 1px solid $grey-sh4;
    padding: 15px;
    margin: 0;

    .el-date-table {
        .available {
            font: $font-family-roboto-regular-serif;
            span {
                height: 30px;
                width: 30px;
                line-height: 30px;
                font-weight: normal;
            }
        }
        & td.today {
            span {
                border: 2px solid $green;
                box-sizing: border-box;
                background: $grey-sh6;
                color: $grey;
                line-height: 28px;
            }
        }
        & td.current {
            span {
                background: $blue;
                background: $blue;
                border-color: $blue;
                color:$grey-sh6;
            }
        }
        & td:hover {
            span {
                background: $grey-sh5;
                color: $grey;
                background: $grey-sh5;
                border-color: $grey-sh5;
            }
        }
    }
}

.el-date-picker__header-label {
    font-size: 12px;
    color: $grey;
}

.el-year-table td.available.current .cell,
.el-month-table td.current.today .cell{
    color: $grey-sh6;
    background: $blue;
    border-radius: 40px
}

.el-date-picker__header-label,
.el-year-table td .cell,
.el-month-table td .cell {
    &:hover {
        color: $blue;
    }
}



.el-date-table tbody:first-child th {
    color: $grey-sh3;
}

.el-date-picker__header {
    margin: 7px 15px;
    text-align: center;
    &--bordered{
        border: none;
        padding: 0;
    }
}

.el-date-table td {
    padding: 0;

    &.disabled div {
        background-color: transparent;
    }
}

.el-date-table th {
    padding: 0;
    border-bottom: none;
}

.el-button .el-date-editor, .header-datepicker .el-date-editor {
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
    position: relative;
    left: -50px;
}

.inline-picker-backdrop {
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}