/* Employee specializations priority list sort*/
.form-sortable{
  height: auto;

  ul{
    padding-left: 0;
    margin-bottom: 15px;

    li{
      margin-bottom: 5px;
    }
  }

  .el-radio-button__inner{
    min-width: 150px;
  }
}