.pdf-container {
    max-height: 60vh;
    overflow: auto;
    padding: 0;
    background: $grey-sh7 !important;
    
    .page {
        margin: 0 auto;
        position: relative;
    }
    
    .annotationLayer section {
        position: absolute;
        padding: 0;
        background: transparent;
    }

    .annotationLayer .textWidgetAnnotation input,
    .annotationLayer .textWidgetAnnotation textarea,
    .annotationLayer .choiceWidgetAnnotation select,
    .annotationLayer .buttonWidgetAnnotation.checkBox input,
    .annotationLayer .buttonWidgetAnnotation.radioButton input {
        background-color: rgba(0,0,0, 0.05);
        border: 1px solid transparent;
        box-sizing: border-box;
        font: $font-family-roboto-regular-serif;
        font-size: 9px;
        height: 100%;
        margin: 0;
        padding: 0 3px;
        width: 100%;
    }
    
    .annotationLayer .textWidgetAnnotation input,
    .annotationLayer .textWidgetAnnotation textarea,
    .annotationLayer .choiceWidgetAnnotation select {
        border: none;
    }
    
    .annotationLayer .buttonWidgetAnnotation.checkBox input,
    .annotationLayer .buttonWidgetAnnotation.radioButton input {
        border: 1px solid $grey-sh3;
    }

    .annotationLayer .choiceWidgetAnnotation select option {
        padding: 0;
    }

    .annotationLayer .buttonWidgetAnnotation.radioButton input {
        border-radius: 50%;
    }

    .annotationLayer .textWidgetAnnotation textarea {
        resize: none;
        padding-top: 3px;
    }

    .annotationLayer .textWidgetAnnotation input:hover,
    .annotationLayer .textWidgetAnnotation textarea:hover,
    .annotationLayer .choiceWidgetAnnotation select:hover,
    .annotationLayer .buttonWidgetAnnotation.checkBox input:hover,
    .annotationLayer .buttonWidgetAnnotation.radioButton input:hover {
        background-color: rgba(0,0,0, 0.02);
    }

    .annotationLayer .textWidgetAnnotation input:focus,
    .annotationLayer .textWidgetAnnotation textarea:focus,
    .annotationLayer .choiceWidgetAnnotation select:focus {
        background-color: rgba(0,0,0, 0.02);
        outline: none;
    }

    .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
    .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after,
    .annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
        background-color: $black;
        content: '';
        display: block;
        position: absolute;
    }

    .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
    .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
        height: 80%;
        left: 45%;
        width: 1px;
    }

    .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before {
        transform: rotate(45deg);
    }

    .annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
        transform: rotate(-45deg);
    }

    .annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
        border-radius: 50%;
        height: 50%;
        left: 25%;
        top: 25%;
        width: 50%;
    }

    .annotationLayer .buttonWidgetAnnotation.checkBox input,
    .annotationLayer .buttonWidgetAnnotation.radioButton input:focus,
    .annotationLayer .buttonWidgetAnnotation.radioButton input {
        appearance: none;
        padding: 0;
        outline: none;
    }
}
